<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head.ejs') -%>
</head>

<body class="mat">


    <%- include('layouts/header.ejs') -%>

        <form action="/main/match" method="post">
            <select name="currentgame" id="currentgame">
                <% games.forEach(function (game) { %>
                    <option value="<%= game %>" name="<%= game %>" >
                        <%= game %>
                    </option>
                    <% }) %>
            </select>
            <input value="Match" type="submit">
        </form>

        <%- include('layouts/footer.ejs') -%>
</body>

</html>